# Environments
.venv/
venv/
env/
.env

# Cache and Bytecode
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDEs
.idea/
.vscode/

# Project specifically generated Artifacts and DB
# Ignore user uploads but DO NOT ignore the main sample data PDF!
data/uploads/*
!data/uploads/nasa_systems_engineering_handbook_0.pdf
*.pdf
!data/uploads/nasa_systems_engineering_handbook_0.pdf
.chroma/

# Logs
*.log
